name: Mirror to GitLab
on:
  push:
    branches: ['**']
    tags: ['*']
  delete:
    branches: ['**']
    tags: ['*']
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout private action from zhdk-icst
        uses: actions/checkout@v4
        with:
          repository: zhdk-icst/mirror-to-gitlab
          ref: v1.2                                 
          path: .github/actions/mirror-to-gitlab
          token: ${{ secrets.ACTIONS_READ_TOKEN }}

      - name: Run mirror action (local path)
        uses: ./.github/actions/mirror-to-gitlab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
